
a{
  color: rgb(179, 177, 177);

}

a:hover
{
color: blanchedalmond !important;
}
.test {
  color: #fff !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #ffffffc7 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
background-color: #ffffffa6 !important;
}
