
<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Sign In
      </span>

      <div class="wrap-input100 validate-input m-b-25" data-validate="Enter username or email">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field>
            <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
      <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}} <br>
        </mat-radio-button>
      </mat-radio-group>
     </div>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn"  (click)="login()" >
          Sign In
        </button>
      </div>

      <div class="text-center">
        <a [routerLink]="['/register']" class="txt2 hov1">
          Sign Up
        </a>
      </div>
    </form>


  </div>
</div>

