<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card-box">
          <div class="row">
            <div class="col-7">
              <div class="row">
                <div class="col-6 text-center">
                  <h2 class="m-t-0 text-muted">
                    <b>
                      <img src='http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png' width="50%" height="100%"> </b>
                  </h2>
                </div>
                <div class="col-6">
                  <h2 class="m-t-0 text-muted">
                    <b>{{weather.name}} </b>
                  </h2>


                  <h2 class="m-t-0 text-muted">


                    <b>{{Math.round(weather.main.temp-273)}} &deg;C</b>
                  </h2>
                  <p class="text-muted">Max : {{Math.round(weather.main.temp_min-273)}} &deg;C</p>
                  <p class="text-muted">Min : {{Math.round(weather.main.temp_max-273)}} &deg;C</p>

                </div>
              </div>
              <!-- End row -->
            </div>
            <div class="col-4">
              <div class="widget-simple-chart text-right card-box">
                <div class="circliful-chart" data-dimension="90" data-text="50%" data-width="5" data-fontsize="14" data-percent="50" data-fgcolor="#5fbeaa"
                  data-bgcolor="#505A66"></div>
                <h3 class="text-success counter m-t-10">{{weather.main.humidity}}</h3>
                <p class="text-muted text-nowrap m-b-10">Humidity</p>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <!-- end col -->

      <div class="col-6">
      

      </div>
    </div>




    <div class="container mrg">

    <div class="row ">

      <div class="col-6">
        <div class="row">
          <div class="col-7">
            <div class="widget-simple-chart text-right card-box">
                <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa"
                data-bgcolor="#505A66"></div>
            </div>
          </div>
          <div class="col-4">
            <h3 class="text-success counter m-t-10">{{weather.visibility}}</h3>
            <p class="text-muted text-nowrap m-b-10">Visibility</p>
          </div>
        </div>
      </div>

    <div class="col-6">
      <div class="row">
        <div class="col-7">
          <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa"
                data-bgcolor="#505A66"></div>
          </div>
        </div>
        <div class="col-4">
          <h3 class="text-success counter m-t-10">{{weather.visibility}}</h3>
          <p class="text-muted text-nowrap m-b-10">Visibility</p>
        </div>
      </div>
    </div>
</div>


    </div>

  </div>
  <!-- end container -->
</div>
<!-- end wrapper -->
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 100,
      time: 1200
    });
    $('.circliful-chart').circliful();
  });

  // BEGIN SVG WEATHER ICON
  if (typeof Skycons !== 'undefined') {
    var icons = new Skycons(
      { "color": "#3bafda" },
      { "resizeClear": true }
    ),
      list = [
        "clear-day", "clear-night", "partly-cloudy-day",
        "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
        "fog"
      ],
      i;

    for (i = list.length; i--;)
      icons.set(list[i], list[i]);
    icons.play();
  };

</script>