<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card-box">
          <div class="row">
            <div class="col-7">
              <div class="row">
                <div class="col-6 text-center">
                  <h2 class="m-t-0 text-muted">
                    <b>
                      <img src='http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png' width="50%" height="100%">
                    </b>
                  </h2>
                </div>
                <div class="col-6">
                  <h2 class="m-t-0 text-muted">
                    <b>{{weather.name}} </b>
                  </h2>


                  <h2 class="m-t-0 text-muted">


                    <b>{{Math.round(weather.main.temp-273)}} &deg;C</b>
                  </h2>
                  <p class="text-muted">Max : {{Math.round(weather.main.temp_min-273)}} &deg;C</p>
                  <p class="text-muted">Min : {{Math.round(weather.main.temp_max-273)}} &deg;C</p>

                </div>
              </div>
              <!-- End row -->
            </div>
            <div class="col-4">
              <div class="widget-simple-chart text-right card-box">
                <circle-progress [percent]="weather.main.humidity" [title]="weather.main.humidity" [radius]="50"
                  [outerStrokeWidth]="8" [innerStrokeWidth]="5" [showSubtitle]="false" [outerStrokeColor]="'#314d8e'"
                  [innerStrokeColor]="'#b1bbc9'" [animation]="true" [animationDuration]="300"></circle-progress>
                <h3 class="text-success counter m-t-10">{{weather.main.humidity}}</h3>
                <p class="text-muted text-nowrap m-b-10">Humidity</p>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <!-- end col -->

      <div class="col-6">
          <iframe name="Framename" src="https://eu0.proxysite.com/process.php?d=60r%2F4eY%2B%2BDfjJfTux6dk3r1LfnVkQNg6jQnezr54qSaiwi%2FWdvXa29NW%2FcT4ofl1gkMPHxuILn1HIGDKZZMsml0FSe6Ogy3wh0MzNkAUxRkbp2VcZB7sUU42&b=1#3/49.5042/9.5421"
          width="550" height="700" frameborder="0" scrolling="auto"> </iframe>
      </div>
    </div>

    <div class="container mrg">

      <div class="row ">

        <div class="col-6">
          <div class="row">
            <div class="col-7">
              <div class="widget-simple-chart text-right card-box">
                <circle-progress [percent]="weather.visibility/16000*100" [title]="weather.visibility/16000*100"
                  [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="5" [showSubtitle]="false" [outerStrokeColor]="'#314d8e'"
                  [innerStrokeColor]="'#b1bbc9'" [animation]="true" [animationDuration]="300"></circle-progress>

              </div>
            </div>
            <div class="col-4">
              <h3 class="text-success counter m-t-10">{{weather.visibility}}</h3>
              <p class="text-muted text-nowrap m-b-10">Visibility</p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-7">
              <div class="widget-simple-chart text-right card-box">
                <circle-progress [percent]="weather.clouds.all" [title]="weather.clouds.all" [radius]="50"
                  [outerStrokeWidth]="8" [innerStrokeWidth]="5" [showSubtitle]="false" [outerStrokeColor]="'#314d8e'"
                  [innerStrokeColor]="'#b1bbc9'" [animation]="true" [animationDuration]="300"></circle-progress>

              </div>
            </div>
            <div class="col-4">
              <h3 class="text-success counter m-t-10">{{weather.clouds.all}}</h3>
              <p class="text-muted text-nowrap m-b-10">Clouds</p>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
  <!-- end container -->
</div>
<!-- end wrapper -->
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 100,
      time: 1200
    });
    $('.circliful-chart').circliful();
  });

  // BEGIN SVG WEATHER ICON
  if (typeof Skycons !== 'undefined') {
    var icons = new Skycons(
      { "color": "#3bafda" },
      { "resizeClear": true }
    ),
      list = [
        "clear-day", "clear-night", "partly-cloudy-day",
        "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
        "fog"
      ],
      i;

    for (i = list.length; i--;)
      icons.set(list[i], list[i]);
    icons.play();
  };

</script>
