.info {
  margin-top: 3%;
  }

  nav a {
    color: rgb(148, 147, 145);
    font-weight: 900;
  }

  .info2{
    margin-top: 40px;
  }

  .info2 h2{
    color: rgb(66, 66, 66);
  }

  .info_container {
    margin-top: 2%;

  }


  mat-card
  {
    background: rgba(0, 0, 0, 0.5);
  }
  h3
  {
    color:#fff;
    text-shadow: 0 0 3px rgb(143, 141, 133), 0 0 5px rgb(10, 10, 10);
  }

  p
  {
    color:#fff;
    text-shadow: 0 0 2px rgba(102, 98, 105, 0.911), 0 0 3px #000;
    font-size: 1.2em;
    font-weight: 900;
  }
  img
  {
  width:100%;
  height:100%;
  }


  .cardinfo{
    color: rgba(116, 114, 114, 0.61)
  }

