
<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Register
      </span>

      <div class="wrap-input100 validate-input m-b-25" data-validate="Enter username or email">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter email">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field>
            <span class="focus-input100"></span>
      </div>


      <div class="container-login100-form-btn">
        <button [routerLink]="['/login']" class="login100-form-btn" >
          Sign In
        </button>
      </div>

      <div class="text-center">
        <a [routerLink]="['/login']" class="txt2 hov1">
          Sign Up
        </a>
      </div>
    </form>


  </div>
</div>

